!!! 5
%html  
	%head
		%link{:rel => 'stylesheet', :href => '/static/css/bootstrap.css'}
		%link{:rel => 'stylesheet', :href => '/static/css/bootstrap.css'}
		%link{:rel => 'stylesheet', :href => '/static/css/bootstrap-responsive.css'}
		%link{:rel => 'stylesheet/less', :type => 'text/css', :href => '/static/css/home_page.less'}
				
		%script{:src => '/static/js/bootstrap.js', :type => 'text/javascript'}
		%script{:src => '/static/js/jquery-1.7.1.min.js', :type => 'text/javascript'}
		%script{:src => '/static/js/login.js', :type => 'text/javascript'}
		%script{:src => '/static/js/less.js', :type => 'text/javascript'}		
		%title Backpack
	%body      
		%div.navbar
			%div.navbar-inner
				%div.container
					%a.brand Backpack
					%ul.nav
						%li
							%a{:href => 'http://twitter.com/timothyandrew'}@timothyandrew
		%div.container#upload
			%form{:action => @upload_link, :enctype => 'multipart/form-data', :method => 'post'}			
				%input#file_select{:type => 'file', :name => 'file'}
				%input#upload_username{:type => 'text', :name => 'username', :placeholder => 'username (optional)'}
				%input#upload_token{:type => 'text', :name => 'auth_token', :placeholder => "authentication token (optional)"}
				%input.btn-primary.btn-large#submit_button{:type => 'submit', :value => 'Upload this file!'}
		%div.container#login
			%form{:method => 'post'}							
				%label Username:
				%input#username{:type => 'text', :name => 'username'}
				%label Password:
				%input#password{:type => 'text', :name => 'password'}			
			%button.btn-warning.btn-medium#login_button{:onclick => 'javascript:login();'}Login
					