#notice {
  padding: 0px 20px 0px 20px;
}

img, iframe {
  margin-top: 25px;
  border: 4px #513900 solid;
  width: 70%;
  margin-left: 14%;
}

#LogoutModal .btn {
  width:500px;
  margin-top: 15px;
}

.modal-body input {
    font-size: 20px;
    height: 40px;
    margin-left:30px;
    width: 86%;
}

body {
  background-image:url('../img/pattern.png');
}

#info-table {
  width: 30%;
  margin-left: 34%;
  margin-top: 50px;
}

#title {
  font-family: Zapfino;
}

#video-container {
  margin-top: 25px;
  width: 70%;
  margin-left: 14%;  
}

iframe {
  height: 600px;
}